#set($data = '"data": {')
#set($twilio = '"twilio": { ')
#foreach( $token in $input.path('$').split('&') )
    #set( $keyVal = $token.split('=') )
    #set( $keyValSize = $keyVal.size() )
    #if( $keyValSize >= 1 )
        #set( $key = $util.urlDecode($keyVal[0]) )
        #if( $keyValSize >= 2 )
            #set( $val = $util.urlDecode($keyVal[1]) )
        #else
            #set( $val = '' )
        #end
        #set($twilio = "${twilio}""${key}"": ""${val}""")
        #if($foreach.hasNext)
           #set($twilio = "${twilio},")
        #end
    #end
#end
#set($twilio = "$twilio }")
#set($data = "${data}${twilio} }")
{
   "input": "$util.escapeJavaScript("{$data}")",
   "stateMachineArn": "arn:aws:states:us-east-1:834108620287:stateMachine:PythonEchoer"
}